<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#f00" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>TEDx IITKharagpur | 2026</title>
    <link
      rel="icon"
      href="public/images/icon.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="external/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dosis"
      rel="stylesheet"
    />
    <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="external/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
  </head>
  <body ng-app="app" data-scroll-container>
    <!-- Navbar -->
    <div
      class="navbarr sticky-top navbar-expand-lg navbar-dark bg-dark topNav"
      data-scroll-section
    >
      <a class="navbar-brand" href="index.html#themeDiv"
        ><img
          width="150"
          src="public/images/TEDx White.png"
          alt=""
          title="TEDxIITKharagpur"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapseNav"
        aria-controls="collapseNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="space"></div>

      <div class="collapse navbar-collapse" id="collapseNav">
        <ul class="navbar-nav mr-0">
          <li class="nav-item active">
            <a
              class="nav-link scrollable"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              href="#themeDiv"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link scrollable"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              href="#about"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link scrollable"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              href="#cspeakershead"
              >Current Speakers</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link scrollable"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              href="#previouspeakershead"
              >Previous Speakers</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team.html">Team</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link scrollable"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              href="#getInvolved"
              >Get Involved</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Hero Page -->
    <div class="container-fluid nvbr" data-scroll-section>
      <div class="row navDiv" id="themeDiv">
        <div id="themeOverlay"></div>
        <div class="col-sm-12"></div>
        <div class="col-sm-12 titleDiv">
          <div class="timer_and_title text-justify">
            <div
              class="banTitle titlehover"
              style="text-align: center; font-family: 'Dosis', sans-serif"
            >
              <span class="boldspan"
                ><strong>TED<sup>x</sup></strong></span
              >
              IITKharagpur 2025
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrolls">
      <div class="scrolleffect scrolleffect1">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect2">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect3">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect4">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect5">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect6">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect7">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect8">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect9">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect10">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
      <div class="scrolleffect scrolleffect11">
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
        <span> <span class="emphasis"> TEDx </span> IIT Kharagpur </span>
      </div>
    </div>
    <div class="pgborder"></div>
    <div class="video" data-scroll-section>
      <video
        id="my-video"
        class="video-js vjs-theme-city"
        controls
        preload="auto"
        width="700"
        height="500"
        poster="./public/images/showcase.jpg"
        data-setup="{}"
      >
        <source src="./public/images/showcasevideo.mp4" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to
          a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
      </video>
    </div>
    <div class="pgborder"></div>
    <div class="row" id="about" data-scroll-section>
      <div class="card col-sm-12 col-md-12">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#ted">TED</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tedx"
                >TED<sup>x</sup></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tedxiitkgp"
                >TED<sup>x</sup> IITKharagpur</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div id="ted" class="tab-pane fade in active show">
              <p class="para-tab sizePara">
                TED is a nonprofit organization devoted to Ideas Worth
                Spreading. Started as a four-day conference in California 30
                years ago, TED has grown to support its mission with multiple
                initiatives. The two annual TED Conferences invite the world's
                leading thinkers and doers to speak for 18 minutes or less. Many
                of these talks are then made available, free, at TED.com. TED
                speakers have included Bill Gates, Jane Goodall, Elizabeth
                Gilbert, Sir Richard Branson, Nandan Nilekani, Philippe Starck,
                Ngozi Okonjo-Iweala, Sal Khan and Daniel Kahneman.<br /><br />
                The annual TED Conference takes place each spring in Vancouver,
                British Columbia. TED's media initiatives include TED.com, where
                new TED Talks are posted daily; the Open Translation Project,
                which provides subtitles and interactive transcripts as well as
                translations from volunteers worldwide; the educational
                initiative TED-Ed. TED has established the annual TED Prize,
                where exceptional individuals with a wish to change the world
                get help translating their wishes into action; TEDx, which
                supports individuals or groups in hosting local, self- organized
                TED-style events around the world, and the TED Fellows program,
                helping world-changing innovators from around the globe to
                amplify the impact of their remarkable projects and activities.
              </p>
            </div>
            <div id="tedx" class="tab-pane fade">
              <p class="para-tab sizePara">
                In the spirit of ideas worth spreading, TEDx is a program of
                local, self-organized events that bring people together to share
                a TED-like experience. At a TEDx event, TED Talks video and live
                speakers combine to spark deep discussion and connection. These
                local, self-organized events are branded TEDx, where x =
                independently organized TED event. The TED Conference provides
                general guidance for the TEDx program, but individual TEDx
                events are self-organized. (Subject to certain rules and
                regulations.)
              </p>
            </div>
            <div id="tedxiitkgp" class="tab-pane fade">
              <p class="para-tab sizePara">
                In the spirit of ideas worth spreading, TED has created a
                program called TEDx. TEDx is a program of local, self-organized
                events that bring people together to share a TED-like
                experience. Our event is called TEDxIITKharagpur, where x =
                independently organized TED event. At our TEDxIITKharagpur
                event, TED Talks video and live speakers will combine to spark
                deep discussion and connection in a small group. The TED
                Conference provides general guidance for the TEDx program, but
                individual TEDx events, including ours, are self-organized.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div id="cspeakers" class="navDiv" data-scroll-section>
      <div class="text-center">
        <h1 id="cspeakershead"><span class="emphasis">Current</span> Speakers</h1>
        <h2 class="muted">Coming soon</h2>
      </div>
      <div class="row" ng-controller="cspeakersController">
        <div
          data-toggle="modal"
          data-target="#cspeakMod{{$index}}"
          class="col-sm-12 col-md-3"
          ng-repeat="m in cspeakers | orderBy:'rank'"
        >
          <div class="our-team">
            <div class="pic">
              <img src="public/images/cspeakers/{{m.image}}" style="aspect-ratio: 1;" />
            </div>
            <div class="team-content">
              <span class="title">{{m.name}}</span><br />
              <span class="post">{{m.short}}</span>
            </div>
            <div class="overlayspea">
              <h3>{{m.name.split(' ')[0]}}</h3>
            </div>
          </div>
          <div id="cspeakMod{{$index}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <div class="row">
                    <div class="col-sm-12 speakerDes col-md-6">
                      <img
                        src="public/images/cspeakers/{{m.image}}"
                        style="width: 100%"
                      />
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <h3 style="color: red"><i>{{m.name}}</i></h3>
                      <br />
                      <h5 style="color: grey"><i>{{m.long}}</i></h5>
                      <br />
                      <p style="color: black">{{m.desc}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />

    <div id="speakers" class="navDiv" data-scroll-section>
      <div class="text-center">
        <h1 id="previouspeakershead" ><span class="emphasis">Previous</span> Speakers</h1>
      </div>
      <div class="row pastspeakers" ng-controller="speakersController">
        <div
          data-toggle="modal"
          data-target="#speakMod{{$index}}"
          class="col-sm-12 col-md-3"
          ng-repeat="s in speakers"
        >
          <div class="our-team">
            <div class="pic">
              <img src="public/images/speakers/{{s.image}}" />
            </div>
            <div class="team-content">
              <span class="title">{{s.name}}</span><br />
              <span class="post">{{s.short}}</span>
            </div>
            <div class="overlayspea">
              <h3>{{s.name.split(' ')[0]}}</h3>
            </div>
          </div>
          <div id="speakMod{{$index}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <div class="row">
                    <div class="col-sm-12 speakerDes col-md-6">
                      <img
                        src="public/images/speakers/{{s.image}}"
                        style="width: 100%"
                      />
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <h3 style="color: red"><i>{{s.name}}</i></h3>
                      <br />
                      <h5 style="color: grey"><i>{{s.long}}</i></h5>
                      <br />
                      <p style="color: black">{{s.desc}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />
    <div id="getInvolved" class="navDiv" data-scroll-section>
      <div id="spekin">
        <div class="text-center">
          <h1 class="whitefont hdn">Becoming a Speaker</h1>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-12 text-center cardd">
            <div class="sym"><a href="https://www.ted.com/participate/organize-a-local-tedx-event/before-you-start/tedx-rules" target="_blank"><i class="fa fa-question"></i></a></div>
            <div class="symdes">
              <h4 class="whitefont">Learn</h4>
              <p class="whitefont">
                Do your research by reading literally everything on this web
                page.
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 text-center cardd">
            <div class="sym"><a href="" target="_blank"><i class="fa fa-wpforms"></a></i></div>
            <div class="symdes">
              <h4 class="whitefont">Apply</h4>
              <p class="whitefont">Fill out an application.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 text-center cardd">
            <div class="sym"><i class="fa fa-user-plus"></i></div>
            <div class="symdes">
              <h4 class="whitefont">Review & Selection</h4>
              <p class="whitefont">
                Our speaker selection committee will review your proposal and
                contact you.
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 text-center cardd">
            <div class="sym"><a href="https://storage.ted.com/tedx/manuals/tedx_speaker_guide.pdf" target="_blank"><i class="fa fa-street-view"></i></a></div>
            <div class="symdes">
              <h4 class="whitefont">Curation</h4>
              <p class="whitefont">
                If selected, we'll help you perfect your presentation for a TEDx
                audience.
              </p>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <h2 class="whitefont">
              The speaker nomination for the 9th edition of TEDxIITKharagpur are
              open.
            </h2>
            <a href="https://forms.gle/TCoUHy5ksrFgSu6b6" target="_blank">
              <button class="appBtn whiteFont">Speaker details</button>
            </a>
          </div>
        </div>
      </div>
      <div id="partin">
        <div class="text-center">
          <h1>Reasons to <span class="emphasis">Partner</span> with Us</h1>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 text-center">
            <div class="sym"><i class="fa fa-link"></i></div>
            <div class="symdes">
              <h4>Brand Linking</h4>
              <p>
                Associate with a powerful worldwide brand and movement
                synonymous with creativity, collaboration, and innovation.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 text-center">
            <div class="sym"><i class="fa fa-line-chart"></i></div>
            <div class="symdes">
              <h4>Lead Generation</h4>
              <p>
                Gain highly qualified leads from tuned-in intellectuals across a
                variety of industries, including education, healthcare, and
                technology.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 text-center">
            <div class="sym"><i class="fa fa-bolt"></i></div>
            <div class="symdes">
              <h4>Unconventional</h4>
              <p>
                Access unconventional showcase opportunities unique to our
                conference, creating genuine experiences that drive higher
                engagement.
              </p>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <a href="mailto:ttgiitkharagpur@gmail.com" target="_blank">
              <button class="appBtn whiteFont">Contact Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="footer" data-scroll-section>
      <div class="footer-flex">
        <div class="footer-23">
          <div class="col-sm-12 col-md-4" style="margin-bottom: 20px">
            <h4>Important Links</h4>
            <a target="_blank" href="https://www.ted.com/">TED</a><br />
            <a
              target="_blank"
              href="https://www.ted.com/about/programs-initiatives/tedx-program"
              >TEDx</a
            ><br />
            <a target="_blank" href="https://blog.ted.com/">TED Blog</a>
          </div>
          <div class="col-sm-12 col-md-4" style="margin-bottom: 20px">
            <h4>Follow Us</h4>
            <a
              target="_blank"
              href="https://www.facebook.com/TEDxIITKharagpur/"
              ><i class="fa fa-facebook"></i
            ></a>
            <a
              target="_blank"
              href="https://www.linkedin.com/company/tedx-iit-kharagpur/?originalSubdomain=in"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a
              target="_blank"
              href="https://www.instagram.com/tedxiitkharagpur/"
              ><i class="fa fa-instagram"></i
            ></a>
          </div>
          <div class="col-sm-12 col-md-4" style="margin-bottom: 30px">
            <h4>Current License Holder</h4>
            <span>Surekha</span><br />
            <a
              target="_blank"
              href="https://www.linkedin.com/in/surekha-b055392ab/"
              ><i class="fa fa-linkedin"></i
            ></a>
            <div>Contact No. - +91 63506 03609</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 footer-13">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.0241239415004!2d87.3083424144638!3d22.314927385315958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d440255555547%3A0x6f2f20dd0c0d6793!2sIndian+Institute+of+Technology+Kharagpur!5e0!3m2!1sen!2sin!4v1510111851799"
            height="125"
            frameborder="0"
            style="border: 0; width: 100%"
            style="border: 2px solid rgba(255, 0, 0, 0.719); width: 100%"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <hr />
      <div style="display: flex; width: 100vw">
        <div style="margin-right: auto; display: flex" class="col-sm-12">
          <h6>
            &nbsp;&nbsp;&nbsp;&copy; Copyright 2025. This independent TEDx event
            is operated under license from TED.
          </h6>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="external/js/jquery.min.js"></script>
    <script type="text/javascript" src="external/js/popper.min.js"></script>
    <script type="text/javascript" src="external/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="external/js/angular.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script> -->
    <script type="text/javascript" src="public/js/home.js"></script>
    <script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>

    <script type="text/javascript">
      gsap.to(
        ".scrolleffect1, .scrolleffect3, .scrolleffect5, .scrolleffect7, .scrolleffect9, .scrolleffect11",
        {
          scrollTrigger: {
            trigger: ".scrolleffect1",
            endTrigger: ".scrolleffect11",
            start: "top bottom",
            end: "bottom top",
            scrub: 1,
          },
          x: 200,
        }
      );

      gsap.to(
        ".scrolleffect2, .scrolleffect4, .scrolleffect6, .scrolleffect8, .scrolleffect10",
        {
          scrollTrigger: {
            trigger: ".scrolleffect1",
            endTrigger: ".scrolleffect11",
            start: "top bottom",
            end: "bottom top",
            scrub: 1,
          },
          x: -200,
        }
      );
    </script>
  </body>
</html>
