<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#a51e15" />
    <title>TEDxIITKharagpur | 2024</title>
    <link rel="icon" href="public/images/icon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="external/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="external/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <link rel="stylesheet" type="text/css" href="public/css/team.css">
</head>
<body ng-app="app">
    <div class="navbarr sticky-top navbar-expand-lg navbar-dark bg-dark topNav">
        <a class="navbar-brand" href="index.html#themeDiv"><img width="150" src="public/images/TEDx White.png" alt="" title="TEDxIITKharagpur"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav" aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="space"></div>

        <div class="collapse navbar-collapse" id="collapseNav">
            <ul class="navbar-nav mr-0">
                <li class="nav-item">
                    <a class="nav-link scrollable" href="index.html#themediv">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollable" href="index.html#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollable" href="index.html#speakers">Previous Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollable" href="index.html#getInvolved">Get Involved</a>
                </li> 
            </ul>
            
        </div>
    </div>
    <div class="container" style="padding-top:5em; " ng-controller="teamController">

        <!-- <h1><span class="emphasis">Previous License</span> Holder</h1> -->
        <!-- <h1><span class="emphasis">License</span> Holder</h1> -->

        <div class="row">
            <div class="col-sm-12 col-md-3 col-md-offset-9">
                <h1><span class="emphasis">Present</span> Licensee</h1>
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/currTeam/Gayatriamulya.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Gayatriamulya Viswanathan</h3>
                        <ul class="social">
                            <!-- <li><a target="_blank" href="mailto:7yashjadhav@gmail.com "><i class="fa fa-envelope"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/harshal.gaikwad.33865"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/harshal-gaikwad-840420192/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a target="_blank" href="mailto:7yashjadhav@gmail.com "><i class="fa fa-envelope"></i></a></li> -->
                            <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100074076524803"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/gayatriamulya-viswanathan-9b950b233/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h1>Co Organizer</h1>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-md-offset-9">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/arka.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Arka Mallik</h3>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/arkamallik" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.linkedin.com/in/arkamallik/" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:Arkamallik@gmail.com" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <h1><span class="emphasis">Core</span> Team</h1>
        <div class="row">
            <div class="col-md-3 col-sm-12" ng-repeat="m in coreteam">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/{{m.image}}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{m.name}}</h3>
                        <span class="post">{{m.des || ""}}</span>
                        <ul class="social">
                            <li><a href="{{m.fb}}" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="{{m.linkedin}}" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:{{m.mail}}" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h1><span class="emphasis">Design</span> and <span class="emphasis">Media</span> Team</h1>
        <div class="row">
            <div class="col-md-3 col-sm-12" ng-repeat="m in designmediateam">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/{{m.image}}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{m.name}}</h3>
                        <span class="post">{{m.des || ""}}</span>
                        <ul class="social">
                            <li><a href="{{m.fb}}" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="{{m.linkedin}}" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:{{m.mail}}" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h1><span class="emphasis">Web</span> Team</h1>
        <div class="row">
            <div class="col-md-3 col-sm-12" ng-repeat="m in webteam">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/{{m.image}}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{m.name}}</h3>
                        <span class="post">{{m.des || ""}}</span>
                        <ul class="social">
                            <li><a href="{{m.fb}}" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="{{m.linkedin}}" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:{{m.mail}}" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        <h1><span class="emphasis">Senior</span> Coordinators</h1>
        <div class="row">
            <div class="col-md-3 col-sm-12" ng-repeat="m in scoordiesteam">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/currTeam/{{m.image}}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{m.name}}</h3>
                        <span class="post">{{m.des || ""}}</span>
                        <ul class="social">
                            <li><a href="{{m.fb}}" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="{{m.linkedin}}" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:{{m.mail}}" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h1><span class="emphasis">Coordinators</span> </h1>
        <div class="row">
            <div class="col-md-3 col-sm-12" ng-repeat="m in coordinatorsteam">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/currTeam/{{m.image}}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{m.name}}</h3>
                        <span class="post">{{m.des || ""}}</span>
                        <ul class="social">
                            <li><a href="{{m.fb}}" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="{{m.linkedin}}" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:{{m.mail}}" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h1><span class="emphasis">Heads</span></h1>
        <div class="row">
            <div class="col-md-3 col-sm-12" ng-repeat="m in headsteam">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/currTeam/{{m.image}}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{m.name}}</h3>
                        <span class="post">{{m.des || ""}}</span>
                        <ul class="social">
                            <li><a href="{{m.fb}}" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="{{m.linkedin}}" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:{{m.mail}}" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h1>Web Team</h1>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/manish.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Manish Kumar Das</h3>
                        <span class="post">Web Head</span>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/iammkdmanish/" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.linkedin.com/in/manishkumardas3581321/" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:ammanishkumardas@gmail.com" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/tejas.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Tejas Ambhore</h3>
                        <span class="post">Web Team Member</span>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/iammkdmanish/" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.linkedin.com/in/manishkumardas3581321/" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:ammanishkumardas@gmail.com" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/ankit.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Ankit Garg</h3>
                        <span class="post">Web Team Member</span>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/iammkdmanish/" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.linkedin.com/in/manishkumardas3581321/" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:ammanishkumardas@gmail.com" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="my-team">
                    <div class="pic">
                        <img src="public/images/team/shubham.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Shubham Kumar</h3>
                        <span class="post">Web Team Member</span>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/iammkdmanish/" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.linkedin.com/in/manishkumardas3581321/" target="_blank" class="fa fa-linkedin"></a></li>
                            <li><a href="mailto:ammanishkumardas@gmail.com" target="_blank" class="fa fa-envelope"></a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
          
        </div>
    </div>
    </div>
    <div class="row" id="footer" data-scroll-section>
        <div class="footer-flex">
          <div class="footer-23">
            <div class="col-sm-12 col-md-4" style="margin-bottom: 20px">
              <h4>Important Links</h4>
              <a target="_blank" href="https://www.ted.com/">TED</a><br />
              <a
                target="_blank"
                href="https://www.ted.com/about/programs-initiatives/tedx-program"
                >TEDx</a
              ><br />
              <a target="_blank" href="https://blog.ted.com/">TED Blog</a>
            </div>
            <div class="col-sm-12 col-md-4" style="margin-bottom: 20px">
              <h4>Follow Us</h4>
              <a
                target="_blank"
                href="https://www.facebook.com/TEDxIITKharagpur/"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                target="_blank"
                href="https://www.linkedin.com/company/tedx-iit-kharagpur/?originalSubdomain=in"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                target="_blank"
                href="https://www.instagram.com/tedxiitkharagpur/"
                ><i class="fa fa-instagram"></i
              ></a>
            </div>
            <div class="col-sm-12 col-md-4" style="margin-bottom: 30px">
              <h4>Current License Holder</h4>
              <span>Gayatriamulya Viswanathan</span><br />
              <!-- <span>+91-9421418202</span><br> -->
              <!-- <a target="_blank" href="mailto:7yashjadhav@gmail.com "><i class="fa fa-envelope"></i></a> -->
              <!-- <a
                target="_blank"
                href="https://www.facebook.com/harshal.gaikwad.33865"
                ><i class="fa fa-facebook"></i
              ></a> -->
              <a
                target="_blank"
                href="https://www.linkedin.com/in/gayatriamulya-viswanathan-9b950b233/"
                ><i class="fa fa-linkedin"></i
              ></a>
              <div>Contact No. - +91 73375 37840</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 footer-13">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.0241239415004!2d87.3083424144638!3d22.314927385315958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d440255555547%3A0x6f2f20dd0c0d6793!2sIndian+Institute+of+Technology+Kharagpur!5e0!3m2!1sen!2sin!4v1510111851799"
              height="125"
              frameborder="0"
              style="border: 0; width: 100%"
              style="border: 2px solid rgba(255, 0, 0, 0.719); width: 100%"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <hr />
        <div style="display: flex; width: 100vw">
          <div style="margin-right: auto; display: flex" class="col-sm-12">
            <h6>
              &nbsp;&nbsp;&nbsp;&copy; Copyright 2024. This independent TEDx event
              is operated under license from TED.
            </h6>
          </div>
        </div>
      </div>
    <script type="text/javascript" src="external/js/jquery.min.js"></script>
    <script type="text/javascript" src="external/js/popper.min.js"></script>
    <script type="text/javascript" src="external/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="external/js/angular.min.js"></script>
    <script type="text/javascript" src="public/js/index.js"></script>
</body>
</html>
