.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery .thumbnail {
    padding: 0;
    /* margin-bottom: 30px; */
    border: 2px rgba(255, 255, 255, 0.269);
    border-style: solid;
    border-radius: 5px;
    transition: 0.25s;
}

.tz-gallery .thumbnail:hover{
    border: 2px rgba(255, 255, 255, 0.525);
    border-style: solid;
    border-radius: 5px;
    scale: 1.04;
}

.gallimg{
    margin-bottom: 30px;
}

.tz-gallery img {
    border-radius: 2px;
    z-index: -1;
}

.lightbox img {
  width: 100%;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.text-center {
  text-align: center !important;
  padding-left: 20px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media screen and (max-width: 480px) {
    .gallery figure {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}