@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
	font-size: 13px;
}
body{
	font-family: segoe UI;
}
.media-icons {
	padding: 8px;
}

.media-icons .fa {
	font-size: 1.5rem
}

.titleDiv {
	padding-right: 9rem;
}
.card-header > .nav > .nav-item > .active{
	color: red !important;
}

/*#themeDiv {
	background: url(../images/tedx19bg.jpg) center left ;
	-webkit-background-size: 50%;
	-moz-background-size: 50%;
	-o-background-size: 50%;
	background-color: #2a2729;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}*/

.para-tab {
	color: #888;
	text-align: left;
}
.nav-link {
	color: grey !important;
}

.nav-tabs .nav-link.active {
	color: rgb(230, 43, 30) !important;
}

.people-say {
	padding: 100px 20px;
}

.people-say p {
	text-align: center;
	color: #999;
}

.people-say div {
	color: #999;
	font-weight: 500;
	text-align: right;
	padding-right: 40px;
}

.red {
	color: rgb(230,43,30);
}

.no-pad {
	padding: 0!important;
}

#comments {
	padding: 30px 30px;
	background: rgba(0,0,0,0.03);
}

#timer {
	display: flex;
	position: absolute;
	bottom: 30px;
}

#timer div {
	flex-grow: 1;
	text-align: center;
	border-right: 2px solid rgba(255, 255, 255, 0.7);
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.2rem;
	font-weight: 900;
}

.time-units p:first-child {
	font-size: 1.8rem;
	margin: 0;
}

#timer div:last-child {
	border:0;
}

#footer {
	margin-top: 50px;
	padding: 30px 20px;
	background-color: #000;
}

#footer a {
	color: #eee;
	text-decoration: none;
	transition: all 0.2s ease;
}

#footer a:hover {
	color: rgb(230, 43, 30);
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

#footer a .fa {
	font-size: 18px;
	margin-right: 12px;
}

#footer h4, h6 {
	color: #777;
}

#footer span {
	color: #eee;
}

.speakerDiv {
	padding: 30px 20px;
	cursor: pointer;
	overflow: hidden;
}

.speakerDiv:hover .speaker_image img {
	filter: grayscale(0);
}

.speakerDiv:hover .sname {
	color: rgb(230, 43, 30);
}

.speakcon {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 4px grey;
	transition: all 0.2s ease;
	position: relative;
}

.overlayspea {
	opacity: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease;
	padding-top: 175px;
	font-weight: 900;
	color: rgb(230,43,30);
}

.speakerDiv:hover .overlayspea {
	opacity: 1;
}

.speakcon:hover {
	box-shadow: 0 4px 32px grey;
}

.speakcon:hover .speaker_image img {
	transform: scale(1.5);
}

.speaker_image img {
	filter: grayscale(1);
	width: 100%;
	transition: all 0.3s ease;
}

.cursive {
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 5px;
}

.speaker_cap {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.speakerDiv .modal-body {
	padding: 45px 30px;
}

.speakerDiv .modal-body p {
	color: #555;
	font-size: 1.2rem;
}

.sizePara {
	font-size: 1.15rem;
}

.speakerDiv .modal-body {
	background: #eee;
	border-bottom: 3px solid rgb(230, 43,30);
}

.sname {
	font-size: 20px;
	color: #333;
}

.stag {
	color: #888;
}

.modal-dialog {
	max-width: 70vw;
}

body {
	overflow-x: hidden;
}

.banTitle {
	font-size: 3rem;
	color: rgba(255,255,255,1);
	/*border: 6px solid rgba(255,255,255,0.8);*/
	/*border-bottom: 6px solid rgba(255,255,255,0.8);*/
	padding: 10px 40px;
	cursor: pointer;
	transition: all 0.3s ease;
}
/*
.banTitle:hover {
	border-top: 6px solid rgba(230,43,30,0.8);
	border-right: 6px solid rgba(230,43,30,0.8);
}*/

.banTitle .boldspan {
	color: rgba(230,43,30,1);
}

.nav-link.green-link {
	color: rgba(230,43,30,1) !important;
}

.nav-item {
	transition: all 0.3s ease;
}

.nav-item a.nav-link {
	color: #4e4e4e !important;
}

.sym .fa {
	font-size: 3rem;
	background-color: rgb(230,43,30);
	color: #fff;
	width: 100px;
	padding: 0;
	margin: 0;
	line-height: 100px;
	border-radius: 50%;
	border: 3px solid rgb(230,43,30);
	height: 100px;
	transition: all 0.3s ease;
}

.sym .fa:hover {
	background-color: #fff;
	color: rgb(230,43,30);
}

.sym {
	margin: 60px 20px;
}

.symdes {
	padding: 15px;
}

.topNav {
	background: rgba(0,0,0,0.85)!important;
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100%;*/
}

.downNav {
	background: #000 !important;
	/*position: fixed;*/
	/*border-bottom: 2px solid rgba(255,255,255,0.3);*/
	/*top: 0;
	left: 0;
	width: 100%;*/
}

.topNav .scrollable, .topNav .media-icons .fa {
	color: #ddd;
}

.scrollable {
	text-decoration: none;
}

.nav-link {
	font-weight: 500;
}

.scrollable:hover {
	text-decoration: none;
}

#themeOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

.navbar {
	transition: all 0.3s ease;
	height: 60px;
}


.gallNav {
	background-color: #000!important;
}

.whitefont {
	color: #eee;
}

.whitefont:hover {
	color: #eee;
}

.appBtn {
	background-color: rgb(230,43,30);
	outline: none;
	border: none;
	color: #fff;
	padding: 10px 60px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 4px grey;
	font-size: 1.3rem;
	transition: all 0.3s ease;
}

.appBtn:hover {
	transform: scale(1.05);
	box-shadow: 0 2px 8px grey;
}

#partin {
	margin: 0;
	padding: 70px 40px 50px 40px;
}

.dateSpan {
	font-size: 1.8rem;
	/*border: 5px solid rgba(255,255,255,0.7);*/
	padding: 5px 20px;
	color: rgba(255,255,255,0.7);
}
#spekin {
	background: url(../images/speakersTEDx.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	padding: 50px 40px;
	background-size: cover;
}

.media-icons:hover .nav-link .fa {
	color: rgb(230,43,30);
}

@media screen and (max-width: 768px) {
	.banTitle {
		font-size: 1.5rem;
		padding: 3px 12px;
		border-width: 5px;
	}

	.dateSpan {
		font-size: 0.8rem;
		padding: 2px 8px;
		border-width: 3px;
	}

	.speakerDes {
		display: none;
	}

	.modal-dialog {
		max-width: 95vw;
	}

	.topNav {
		background: #000 !important;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 570px) {
	.titleDiv {
		padding-right: 2rem;
	}
}

.front-container{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    height: calc(100vh - 60px);
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
}
.pictureFront{
	z-index: -1;
	top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    background-position: center;
    background-image: url(../images/tedx19bg.jpg);
    background-size: cover;
    filter: grayscale() brightness(40%);
}
.borderLeft{
	border-left: 1px solid white;
}
.paddingRight{
	padding-right: 0.5rem;
}
.heading{
	/*position: absolute;*/
    font-size: 6rem;
    /*top: calc(50% - 5rem);*/
    color: white;
    filter: none;
    left: 5%;
}
#demo{
	text-align: center;	
	display:flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
#demo > h1{
	/*position: absolute;*/
    font-size: 5rem;
    /*top: calc(60% - 5rem);*/
    color: white;
    filter: none;
    left: 5%;
}

#timerDisplay{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#timerDisplay > div{
	box-sizing: content-box;
    width: 90px;
	padding: 0.5rem;
	border: 1rem solid red;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
#timerDisplay > div + div{
	border-left: none;
}
sup{

	top: -0.87em;
	font-size: 50%;
}
#speakers{
	padding-top: 80px;
}
