@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background: #000 !important;
	color: white;
}

*::selection {
	background: #f00 !important;
	color: white !important;
}

.emphasis {
    color: #f00;
	font-weight: 700;
}

.bg-dark {
	background: #000 !important;
}

.nvbr {
	background: #000 !important;
}

.scrolls {
	display: flex;
	flex-direction: column;
	/* color: #333; */
	font-weight: 400;
}

.scrolleffect {
	font-size: 3rem;
	position: absolute;
	left: -20rem;
	overflow: visible;
	white-space: nowrap;
	color: #333;
}

.scrolleffect1 {
	display: none;
}

.scrolleffect2 {
	transform: translateY(1.2em);
	display: none;
}

.scrolleffect3 {
	transform: translateY(2.4em);
	display: none;
}
.scrolleffect4 {
	transform: translateY(3.6em);
}
.scrolleffect5 {
	transform: translateY(4.8em);
}
.scrolleffect6 {
	transform: translateY(6em);
}
.scrolleffect7 {
	transform: translateY(7.2em);
}
.scrolleffect8 {
	transform: translateY(8.4em);
	display: none;
}
.scrolleffect9 {
	transform: translateY(9.6em);
	display: none;
}
.scrolleffect10 {
	transform: translateY(10.8em);
	display: none;
}
.scrolleffect11 {
	transform: translateY(12em);
	display: none;
}

.media-icons {
	padding: 8px;
}

.media-icons .fa {
	font-size: 1.5rem;
}

.titleDiv {
	padding-right: 0rem;
}

.navbarr {
	display: flex;
	padding: 1rem 2rem;
	justify-content: space-between;
}

.navbar-toggler {
	width: 3rem;
}


#collapseNav {
	/* display: flex; */
	justify-content: end;
}

.video {
	width: 100vw;
	/* padding: 5rem; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem 0;
}

.video video {
	border: 2px solid #f00;
}

.muted {
	color: #333;
}

.video .text {
	width: 50%;
	padding: 2rem;
	font-size: 2.3rem;
}

#themeDiv {
	background: url(../images/bg1.jpg) center left ;
	-webkit-background-size: 50%;
	-moz-background-size: 50%;
	-o-background-size: 50%;
	background-color: #2a2729;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}

.para-tab {
	color: #888;
	text-align: left;
}
.nav-link {
	color: #555 !important;
}

.nav-tabs .nav-link.active {
	color: rgb(230, 43, 30) !important;
}

.people-say {
	padding: 100px 20px;
}

.people-say p {
	text-align: center;
	color: #999;
}

.people-say div {
	color: #999;
	font-weight: 500;
	text-align: right;
	padding-right: 40px;
}

.red {
	color: rgb(230,43,30);
}

.no-pad {
	padding: 0!important;
}

#comments {
	padding: 30px 30px;
	background: rgba(0,0,0,0.03);
}

#timer {
	display: flex;
	position: absolute;
	bottom: 30px;
}

#timer div {
	flex-grow: 1;
	text-align: center;
	border-right: 2px solid rgba(255, 255, 255, 0.7);
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.2rem;
	font-weight: 900;
}

.time-units p:first-child {
	font-size: 1.8rem;
	margin: 0;
}

#timer div:last-child {
	border:0;
}

#footer {
	margin-top: 50px;
	padding: 30px 20px;
	background-color: #111;
}

#footer a {
	color: #eee;
	text-decoration: none;
	transition: all 0.2s ease;
}

#footer a:hover {
	color: rgb(230, 43, 30);
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

#footer a .fa {
	font-size: 18px;
	margin-right: 12px;
}

#footer h4, h6 {
	color: #777;
}

#footer span {
	color: #eee;
}

.speakerDiv {
	padding: 30px 20px;
	cursor: pointer;
	overflow: hidden;
}

.speakerDiv:hover  {
	filter: grayscale(0);
}

.speakerDiv:hover .sname {
	color: rgb(230, 43, 30);
}

.nav-item>.active {
	background: white !important;
}

.nav-item:hover {
	outline-color: #f00;
}

.overlayspea {
	opacity: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease;
	padding-top: 175px;
	font-weight: 900;
	color: rgb(230,43,30);
}

#about {
	padding: 0 2rem;
	background: #000;
}

.vjs-big-play-button {
	/* Align center */
    left: 50% !important;
    top: 50% !important;
	transform: translate(-50%, -50%);
    /* margin-left: -($big-play-width / 2) !important;
    margin-top: -($big-play-height / 2) !important;  */
}

.card {
	background: #000 !important;
}

.cursive {
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 5px;
}


.speakerDiv .modal-body {
	padding: 45px 30px;
}

.speakerDiv .modal-body p {
	color: #555;
	font-size: 1.2rem;
}

.sizePara {
	font-size: 1.15rem;
}

.speakerDiv .modal-body {
	background: #eee;
	border-bottom: 3px solid rgb(230, 43,30);
}

.sname {
	font-size: 20px;
	color: #333;
}

.stag {
	color: #888;
}

.modal-dialog {
	max-width: 70vw;
}

body {
	overflow-x: hidden;
}

.pastspeakers {
	margin: 0 2rem;
}

.banTitle {
	font-size: 3rem;
	color: rgba(255,255,255,1);
	border: 6px solid rgba(255,255,255,1);
	/* border: 6px solid rgba(255,255,255,0.8); */
	/*border-bottom: 6px solid rgba(255,255,255,0.8);*/
	padding: 10px 40px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.banTitle:hover {
	transform: scale(1.1);
}

/*
.banTitle:hover {
	border-top: 6px solid rgba(230,43,30,0.8);
	border-right: 6px solid rgba(230,43,30,0.8);
}*/

.banTitle .boldspan {
	color: rgba(230,43,30,1);
}

.nav-link.green-link {
	color: rgba(230,43,30,1) !important;
}

.nav-item {
	transition: all 0.3s ease;
	font-family:Arial;
}

.nav-item.active {
	border-bottom: 1px solid white;
}

.nav-item.active a.nav-link {
	color: #fff!important;
}

.sym .fa {
	font-size: 3rem;
	background-color: rgb(230,43,30);
	color: #fff;
	width: 100px;
	padding: 0;
	margin: 0;
	line-height: 100px;
	border-radius: 50%;
	border: 3px solid rgb(230,43,30);
	height: 100px;
	transition: all 0.3s ease;
}

.sym .fa:hover {
	background-color: #fff;
	color: rgb(230,43,30);
}

.sym {
	margin: 60px 20px;
}

.symdes {
	padding: 15px;
}

.topNav {
	background: #000;
	position: fixed;
	/*border-bottom: 2px solid rgba(255,255,255,0.3);*/
	top: 0;
	left: 0;
	width: 100%;
}

.downNav {
background: #000;
	position: fixed;
	/*border-bottom: 2px solid rgba(255,255,255,0.3);*/
	top: 0;
	left: 0;
	width: 100%;
}

.topNav .scrollable, .topNav .media-icons .fa {
	color: #ddd;
}

.scrollable {
	text-decoration: none;
}

.nav-link {
	font-weight: 600;
}

.scrollable:hover {
	text-decoration: none;
}

#themeOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

.navbar {
	transition: all 0.3s ease;
}

.gallNav {
	background-color: #000!important;
}

.whitefont {
	color: #eee;
}

.whitefont:hover {
	color: #eee;
}

.appBtn {
	background-color: rgb(230,43,30);
	outline: none;
	border: none;
	color: #fff;
	padding: 10px 60px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 2px 4px grey;
	font-size: 1.3rem;
	transition: all 0.3s ease;
}

.appBtn:hover {
	transform: scale(1.05);
	box-shadow: 0 2px 8px grey;
}

#partin {
	margin: 0;
	padding: 70px 40px 50px 40px;
}

.dateSpan {
	font-size: 1.8rem;
	/*border: 5px solid rgba(255,255,255,0.7);*/
	padding: 5px 20px;
	color: rgba(255,255,255,0.7);
}

#spekin {
	background: url(../images/speakersTEDx.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	padding: 50px 40px;
	background-size: cover;
}

.media-icons:hover .nav-link .fa {
	color: rgb(230,43,30);
}

@media screen and (max-width: 768px) {
	.banTitle  {
		font-size: 1.5rem;
		padding: 3px 12px;
		border-width: 5px;
	}
	#timerDisplay > div{
		font-size: 1.5rem;
		border: 0.2rem;
	}

	.dateSpan {
		font-size: 0.8rem;
		padding: 2px 8px;
		border-width: 3px;
	}

	.speakerDes {
		display: none;
	}

	.modal-dialog {
		max-width: 95vw;
	}

	.topNav {
		background: #000 !important;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.our-team {
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
    padding: 30px;
}

.our-team .pic{
    background:#ff0000;
    transition: all 0.3s ease 0s;
}
.our-team:hover .pic{
    padding: 10px;
    border-radius: 5px;
    transform: scale(0.7) translateY(-15%);
}
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .team-content{
    width: 100%;
    padding: 7px 15px;
    background: #ff0000;
    position: absolute;
    bottom: -30%;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.our-team:hover .team-content{
    opacity: 1;
    border-radius: 5px;
    bottom: -10px;
}
.our-team .title{
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    font-family: 'Roboto';
    font-style: italic;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all 0.35s ease 0s;
}
.our-team .social li{
    display: inline-block;
    margin: 0 5px 0 0;
}
.our-team .social li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 15px 0 15px 0;
    font-size: 20px;
    color: #8B0000;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.35s ease 0s;
}
.our-team .social li a:before{
    content: "";
    width: 100%;
    height: 100%;
    background: #e06f06;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s;
}
#demo
{
	font-size: 40px;
	font-family: roboto;
color:white;
}

.timer_and_title {
display: inline-block;
position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

#demo{
	text-align: center;
	display:flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
#demo > h1{
	/*position: absolute;*/
    font-size: 5rem;
    /*top: calc(60% - 5rem);*/
    color: white;
    filter: none;
    left: 5%;
}

#timerDisplay{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
}
#timerDisplay > div{
	box-sizing: content-box;
    width: 75px;
	padding: 0rem;
	border: 0.5rem solid red;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
#timerDisplay > div + div{
	border-left: none;
}
sup{

	top: -0.87em;
	font-size: 50%;
}

#circleDot {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    background-color: rgb(230, 43, 30);
}

.relDiv {
    position: relative;
}

.our-team .social li a:hover:before{ left: 0; }
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

@media screen and (max-width: 570px) {
	.titleDiv {
		padding-right: 2rem;
	}
}

.modal-content.custom {
  background: transparent;
}

.notif.nav-item.media-icons {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.titlehover{
	border-radius: 15px;
}
.titlehover:hover{
	background-color: #000000aa;
}

.pgborder{
	background-color: #8B0000;
	width: 100vw;
	height: 2px;
	box-shadow: 0 0px 20px 5px #8b00008d;
}

.hdn{
	margin-bottom: 20px;
}
.cardd{
	scale: 0.95;
	border-radius: 10px;
	background-color: #0000003d;
	transition: 0.2s;

}
.cardd:hover{
	scale: 1.00;
	background-color: #000000a5;
}

.footer-flex{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
}

.footer-23{
	flex: 2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.footer-23{
	flex: 1;
}

.gallimg{
	border: 1px white;
}



/* TEDx Speaker Card Container */
.tedx-speaker-card-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* TEDx Speaker Card Styles */
.tedx-speaker-card {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background: linear-gradient(135deg, #000000 0%, #1a0000 50%, #0d0d0d 100%);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(255, 0, 0, 0.25), 0 0 2px rgba(255, 45, 45, 0.5);
    border: 1px solid rgba(255, 45, 45, 0.2);
}

/* Mystical background pattern */
.tedx-speaker-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        radial-gradient(circle at 20% 50%, rgba(255, 45, 45, 0.15) 0%, transparent 50%),
        radial-gradient(circle at 80% 50%, rgba(255, 45, 45, 0.1) 0%, transparent 50%);
    opacity: 0.8;
}

/* Geometric connection lines */
.connection-lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}

.connection-lines svg {
    width: 100%;
    height: 100%;
}

/* TEDx Logo */
.tedx-card-logo {
    position: absolute;
    top: 25px;
    left: 35px;
    z-index: 10;
}

.tedx-card-logo .logo-text {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1px;
}

.tedx-card-logo .ted {
    color: #fff;
}

.tedx-card-logo .x {
    color: #ff2d2d;
}

.tedx-card-logo .location {
    color: rgba(255, 255, 255, 0.9);
    font-size: 13px;
    font-weight: 400;
    margin-top: -3px;
    letter-spacing: 1px;
}

/* Main card content */
.card-content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 60px 60px;
    text-align: center;
}

.main-title {
    font-size: 42px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    text-shadow: 0 2px 20px rgba(255, 45, 45, 0.4);
    animation: fadeInUp 1s ease-out;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 30px;
    font-style: italic;
    letter-spacing: 0.5px;
    animation: fadeInUp 1.2s ease-out;
}

.unveiling-text {
    font-size: 18px;
    font-weight: 500;
    color: #ff2d2d;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    padding: 12px 35px;
    animation: fadeInUp 1.4s ease-out, glow 2s ease-in-out infinite alternate;
}

.unveiling-text::before,
.unveiling-text::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 1px;
    background: linear-gradient(90deg, transparent, #ff2d2d, transparent);
}

.unveiling-text::before {
    left: -65px;
}

.unveiling-text::after {
    right: -65px;
}

/* Decorative stars */
.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #ff2d2d;
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 0 0 4px rgba(255, 45, 45, 0.8);
    animation: twinkle 3s ease-in-out infinite;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255, 45, 45, 0.6);
    }
    to {
        text-shadow: 0 0 20px rgba(255, 45, 45, 1), 0 0 30px rgba(255, 45, 45, 0.5);
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

/* Tablet (768px - 991px) */
@media (max-width: 991px) {
    .tedx-speaker-card-container {
        max-width: 700px;
        padding: 0 15px;
        margin: 30px auto;
    }

    .tedx-card-logo {
        top: 20px;
        left: 25px;
    }

    .tedx-card-logo .logo-text {
        font-size: 28px;
    }

    .tedx-card-logo .location {
        font-size: 11px;
    }

    .card-content {
        padding: 50px 40px;
    }

    .main-title {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .unveiling-text {
        font-size: 15px;
        letter-spacing: 2px;
        padding: 10px 25px;
    }

    .unveiling-text::before,
    .unveiling-text::after {
        width: 35px;
    }

    .unveiling-text::before {
        left: -45px;
    }

    .unveiling-text::after {
        right: -45px;
    }
}

/* Mobile (576px - 767px) */
@media (max-width: 767px) {
    .tedx-speaker-card-container {
        max-width: 100%;
        padding: 0 15px;
        margin: 25px auto;
    }

    .tedx-speaker-card {
        border-radius: 6px;
    }

    .tedx-card-logo {
        top: 15px;
        left: 20px;
    }

    .tedx-card-logo .logo-text {
        font-size: 24px;
    }

    .tedx-card-logo .location {
        font-size: 10px;
        letter-spacing: 0.5px;
    }

    .card-content {
        padding: 40px 25px;
    }

    .main-title {
        font-size: 24px;
        margin-bottom: 12px;
        letter-spacing: 0.5px;
        line-height: 1.4;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .unveiling-text {
        font-size: 13px;
        letter-spacing: 2px;
        padding: 8px 20px;
    }

    .unveiling-text::before,
    .unveiling-text::after {
        width: 25px;
    }

    .unveiling-text::before {
        left: -32px;
    }

    .unveiling-text::after {
        right: -32px;
    }

    .star {
        width: 1.5px;
        height: 1.5px;
    }
}

/* Extra Small Mobile (below 576px) */
@media (max-width: 575px) {
    .tedx-speaker-card-container {
        padding: 0 10px;
        margin: 20px auto;
    }

    .tedx-card-logo {
        top: 12px;
        left: 15px;
    }

    .tedx-card-logo .logo-text {
        font-size: 20px;
    }

    .tedx-card-logo .location {
        font-size: 9px;
    }

    .card-content {
        padding: 35px 20px;
    }

    .main-title {
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: 0.3px;
    }

    .subtitle {
        font-size: 12px;
        margin-bottom: 18px;
    }

    .unveiling-text {
        font-size: 11px;
        letter-spacing: 1.5px;
        padding: 7px 15px;
    }

    .unveiling-text::before,
    .unveiling-text::after {
        width: 20px;
    }

    .unveiling-text::before {
        left: -25px;
    }

    .unveiling-text::after {
        right: -25px;
    }
}

/* Landscape mode for small devices */
@media (max-width: 767px) and (orientation: landscape) {
    .tedx-speaker-card {
        aspect-ratio: 2 / 1;
    }

    .card-content {
        padding: 25px 40px;
    }

    .main-title {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .subtitle {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .unveiling-text {
        font-size: 12px;
        padding: 6px 18px;
    }
}
